<template>
  <div class="">

    <div>
      <div class="box is-shadowless">
				<b-field 
					label="autor"
					message="nome real, nome falso, o que você achar melhor..">
            <b-input 
              v-model="author"
              class="is-large">
              </b-input>
        </b-field>

				<b-field 
					label="conteúdo"
					message="diga o que pensa...">
            <b-input 
							v-model="content"
              class="is-large"
							maxlength="280">
						</b-input>
        </b-field>
        <b-field
          class="has-text-centered">
          <b-button class="is-danger is-large has-text-centered" @click="postPost">reclama aqui</b-button>
          </b-field>
      </div>
    </div>

    <ul v-if="errors && errors.length">
      <li v-for="error of errors" v-bind:key="error.id">
        {{error.message}}
      </li>
    </ul>

  </div>
</template>

<script>
import {http} from '../helpers/common';

export default {
  name: 'Posts',
  props: {
    title: String
  },
  data() {
    return {
      author: '',
      content: '',
			errors: []
    }
  },
	methods: {
		postPost() {
			var url = 'posts'
			http.post(url, {
				author: this.author,
				content: this.content,
			})
			.then(response => {
				this.$buefy.snackbar.open({
					message: 'Post from ' + response.data.author + ' was accepted, published at ' + response.data.published_at + '.',
					position: 'is-top',	
				})
				console.log(response)
			})
			.catch(e => {
				this.errors.push(e)
			})
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
