<template>
  <div class="">
    <div v-if="posts && posts.length">
      <div class="box is-borderless" v-for="post of posts" v-bind:key="post.id">
        <p>
          <strong class="is-size-3">{{ post.content }}</strong> <br />
          <span class="is-size-5">por {{ post.author }}</span>
          <span class="is-size-7 is-pulled-right"> publicado em: {{ post.published_at }}</span>
        </p>
      </div>
    </div>

    <ul v-if="errors && errors.length">
      <li v-for="error of errors" v-bind:key="error.id">
        {{error.message}}
      </li>
    </ul>

  </div>
</template>

<script>
import {http} from '../helpers/common';

export default {
  name: 'Posts',
  data() {
    return {
      posts: [],
      errors: [],
    }
  },
  created() {
    var url = 'posts'
    http.get(url)
    .then(response => {
      this.posts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
