<template>
  <div id="app">
  <div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title has-text-centered is-size-1">Reclama aqui..com ele..</h1>
          <PostsCreate/>
          <Posts/>
        </div> <!-- column -->
      </div> <!-- columns -->
    </div> <!-- container -->
  </div>
  </div> <!-- app -->
</template>

<script>
import Posts from './components/Posts.vue'
import PostsCreate from './components/PostsCreate.vue'

export default {
  name: 'App',
  components: {
    Posts,
    PostsCreate
  }
}
</script>

<style>
#app {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
